/.vscode
/__pycache__
/data
/model_0.pth
/model_1.pth
/model_10.pth
/model_11.pth
/model_12.pth
/model_13.pth
/model_14.pth
/model_15.pth
/model_16.pth
/model_17.pth
/model_18.pth
/model_19.pth
/model_2.pth
/model_20.pth
/model_21.pth
/model_22.pth
/model_23.pth
/model_24.pth
/model_25.pth
/model_3.pth
/model_4.pth
/model_5.pth
/model_6.pth
/model_7.pth
/model_8.pth
/model_9.pth